<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf" />
  </configSections>
  <startup>
  </startup>
  <modules>
    <module assemblyFile="StormBreaker.Modules.DatasourceManager.dll" moduleType="StormBreaker.Modules.DatasourceManager.DatasourceManagerModule, StormBreaker.Modules.DatasourceManager, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="DatasourceManagerModule" startupLoaded="True" />
    <module assemblyFile="StormBreaker.Modules.MessengerManager.dll" moduleType="StormBreaker.Modules.Messenger.MessengerModule, StormBreaker.Modules.Messenger, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="MessengerModule" startupLoaded="True" />
  </modules>
</configuration>